.loader{
    margin-top:150px;
    
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main{
    z-index: 5;

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-title{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 2rem;
}