.loader{
    margin-top:150px;
    
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin:0 auto;
}

.main{
    z-index: 5;
    width: 100%;
    flex-direction: column;
}

.main-title{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 2rem;
}