.sidebox{
    width: 100%;
    height: 50px;
    border: thin solid black;
    display: inline-block;
    position: relative;
    cursor: pointer;
    
}

.description{
    position: absolute;
    top:15px;
    font-weight:500;
}